.user{
  display: flex;
  background:#f4f4f4;
  padding:10px;
  margin-bottom:10px;
}

.user ul{
  list-style: none;
}

button{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}

#button {
    display: block;
    padding: 15px 45px;
    border-radius: 3px;
    color: #fff;
    background-color: #10c9c3;
    font-size: 14px;
    margin-bottom: 30px;
}