h1 {
  text-align: center;
  font-size: 48px;
}

#users{
  width:500px;
}

.user {
  display: flex;
  background:#f4f4f4;
  padding:10px;
  margin-bottom:10px;
}

.user ul{
  list-style: none;
}

.users-container {
  display: flex;
  justify-content:center;
  
}

.button-container {
  display: flex;
  justify-content:center;
}

button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}

#button {
    margin-top: 30px;
    display: block;
    padding: 15px 45px;
    border-radius: 3px;
    color: #fff;
    background-color: #10c9c3;
    font-size: 14px;
}